* {
  box-sizing: border-box;
}

body {
  background-color: #8bc6ec;
  background-image: linear-gradient(to right, #8bc6ec, #9599e2);
     
}
.container {
  margin-top: 200px;
  height: auto;
  padding-bottom: 15px;
  width: 600px;
  /* background-color: #72a0c1; */
  background-image: linear-gradient(to right, #8bc6ec, #9599e2);
  

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  /* border:solid 1px rgb(113, 113, 113); */
  

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(even) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  /* background: #888; */
  background: #516b7d;
  color: #fff;
  text-decoration: line-through;
  list-style-type: none;
  border:solid 1px rgb(113, 113, 113);
}

ul li.checked::before {
  content: "";
  position: absolute;
  /* border-color: #fff; */
  border-color: #8bc6ec;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 12px 16px 12px 16px;
  
}
.fa{
  color:#8bc6ec;
}

.close:hover {
  background-color: #82322c;
  color: white;
}

.header {
  background-color: #72a0c1;
  padding: 30px 40px;
  color: white;
  /* text-align: center; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.btn-div {
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  /* color:#f5f0f0db; */
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
  /* background-image: linear-gradient(to right, #80afce, #464864); */
}

.actionBtn {
  /* display: block; */
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #d9d9d9;
  color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clearAll-btn {
  /* background-color: green; */
  background-color: #235f8e;
  color: #fff;
}
.clearAll-btn:hover {
  /* background-color: rgb(68, 131, 68); */
  background-color: #5e819b;
}
.removeAll-btn {
  background-color: rgb(130, 46, 46);
  color: #fff;
}
.removeAll-btn:hover {
  background-color: #c9524a;
}


         
                  
         